bin
obj
bin\log
packages
_gsdata_
_ReSharper*
TestResults
app_data
*.suo
*.user
*.log
*.pubxml
*.publish.xml
.svn
.vs
*.dbmdl
*.jfm
*.exe
.idea
node_modules
dist
/src/Ddf/Ddf.App/ddf-dcloud/unpackage/cache
/src/Ddf/Ddf.App/ddf-dcloud/unpackage/release/apk
